* {
    font-family: "JetBrains Mono";
    font-size: 13px;
}

#window {
	background-color: #1e1e2e;
	color: #d9e0ee;
    border: 2px solid;
    border-color: #33ccff;
	border-radius: 18px;
}

#outer-box {
	padding: 20px;
}

#input {
	background-color: #262636;
	border: 0px solid #89b4fa;
    border-radius: 3px;
	padding: 8px 12px;
}

#scroll {
	margin-top: 20px;
}

#img {
	padding-right: 8px;
}

#text {
	color: #d9e0ee;
}

#text:selected {
	color: #1e1e2e;
    font-weight: bold;
}

#entry {
	padding: 9px;
}

#entry:selected {
	background-color: #89b4fa;
	color: #1e1e2e;
}

#input, #entry:selected {
	border-radius: 5px;
}
